
.main2e{
    overflow:hidden;
    background: rgba(255, 255, 255, 0.25);
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.123);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
    margin:0 auto;
    padding-left:3rem;
    padding-right: 3rem;
    padding-top:4rem;
    padding-bottom: 4rem;
    max-width:700px;
   min-height:300px;
    border-radius:8px;
    margin-top:120px;
    
}
.content{
    margin: 0 auto;
    padding:7px;
    max-width:400px;
   text-align: center;
}

