.back{
    position: absolute;
    z-index:10;
    background: rgba(114, 112, 112, 0.233);
    box-shadow: 0 8px 32px 0 rgba(209, 211, 245, 0.377);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    min-height: 100%;
    min-width: 100%;
}